nav{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-left: 600px;
    font-size: 20px;

}

.rightbars{
    display: flex;
    flex-direction: row;



}
img{
    border-radius: 50%;
}

#Bodytext{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    
}

.Animeflowers1{
    width: 150px;
    height: 150px;
    border: 1px lightblue;
    border-radius:20% ;
    background-image: repeating-radial-gradient(farthest-corner at 70px 70px, rgb(66, 0, 128) 30%, white 60%);

    

}
.gradientcircles{
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    margin-top: 170px;
}


#Animeflowers3{
    width: 150px;
    height: 150px;
    border: 1px lightblue;
    border-radius:20% ;
    background-image: repeating-radial-gradient(farthest-corner at 70px 70px, rgb(66, 0, 128) 30%, white 60%);
    margin-left: 100px;
    margin-top: 2px;

    

}
.socials{
    margin-left: 800px;
    margin-top: 100px;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* to prevent scrollbars */
}


.background-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(rgb(169, 125, 211) 10%, wheat 90%);
}
  
  


