/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    /* --body-color: #E4E9F7;
    --sidebar-color: #FFF; */
    /* --primary-color: #695CFE; comment*/
    /* --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --primary-color:#c93ac9;
    --subHeading-colors:#c93ac9; */
    /*Test*/

    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --subHeading-colors: #ccc;
    --footertext-color: #fff;


    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    /* --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --subHeading-colors: #ccc; */

    /*test*/

    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    /* --primary-color: #695CFE; */
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --primary-color:#c93ac9;
    --subHeading-colors:#c93ac9;
    --footertext-color:black;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
    cursor: pointer;
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

#Homediv{
    margin-left: 4rem;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
 
}
#myimage{
    border-radius: 50%;
    width: 250px;

}
.Imgdiv{
   
    width: 250px; /* Set a fixed width */
    position: absolute; /* Fix its position */
    top: 50px; /* Adjust the top position as needed */
    left: 60vw; /* Adjust the left position as needed */
    z-index: 999; /* Set a higher z-index to ensure it's above other elements */
    
}

#Bodytext{
    font-size: 20px;
    max-width: 40vw;
    height: 250px;
    
}


.animebox div {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: 6px solid #c93ac9;
    background-color: transparent;
}

.animebox div:nth-child(1) {
    top:12%;
    left: 42%;
    animation: animate 10s linear infinite;

}

.animebox div:nth-child(2) {
    top:70%;
    left: 50%;
    animation: animate 7s linear infinite;

}
.animebox div:nth-child(3) {
    top:17%;
    left: 6%;
    animation: animate 9s linear infinite;

}

.animebox div:nth-child(4) {
    top:20%;
    left: 60%;
    animation: animate 10s linear infinite;

}

.animebox div:nth-child(5) {
    top:67%;
    left: 10%;
    animation: animate 10s linear infinite;

}

.animebox div:nth-child(6) {
    top:80%;
    left: 70%;
    animation: animate 12s linear infinite;

}

.animebox div:nth-child(7) {
    top:60%;
    left: 80%;
    animation: animate 15s linear infinite;

}
.animebox div:nth-child(8) {
    top:32%;
    left: 25%;
    animation: animate 16s linear infinite;

}

.animebox div:nth-child(9) {
    top:90%;
    left: 25%;
    animation: animate 9s linear infinite;

}

.animebox div:nth-child(10) {
    top:80%;
    left: 70%;
    animation: animate 12s linear infinite;

}

.animebox div:nth-child(11) {
    top:90%;
    left: 80%;
    animation: animate 7s linear infinite;

}

.animebox div:nth-child(12) {
    top:80%;
    left: 85%;
    animation: animate 9s linear infinite;

}

.animebox div:nth-child(13) {
    top:90%;
    left: 80%;
    animation: animate 12s linear infinite;

}

.animebox div:nth-child(14) {
    top:20%;
    left: 80%;
    animation: animate 8s linear infinite;

}

.animebox div:nth-child(15) {
    top:10%;
    left: 85%;
    animation: animate 12s linear infinite;

}

@keyframes animate {
    0%{
        transform:scale(0) translateY(0) rotate(0) ;
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translate(-90px) rotate(360deg);
        opacity: 0;

    }
}



#About{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    
    
}
#textdiv{
margin-left: 2rem;
color: var(--text-color);
max-width: 50vw;
font-size: 21px;

}

#Projectsdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    flex-direction: column; 
    
}

 /* .Elementary_p:hover{
    background-color: white;
}  */

.tooltip{
    display: none;
    position: relative;
    background-color: var(--body-color);
    color: var(--subHeading-colors);
    padding: 8px;
    border-radius: 4px;
/* 
    transform: translateX(-50%);  */
    
    
    
}
.tooltip.show{
    display: block;
}



.Elementary_p, .Intermediate_p{
    width: 600px;
    position: relative;
    height: 400px;
    border: 1px solid ;
    border-color: var(--text-color);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-radius: 5px;
    transition: var(--primary-color) 0.9s ease;
    cursor: pointer;
    align-items: center;
    
}
#Elementary, #Intermediate{
    display: flex;
    flex-direction: row;
    max-width: 70vw;


}

h3{
    color: var(--subHeading-colors);
}

.Blog_bix{
    width: 40rem;
    height: 5rem;
    margin: 1rem;
    border: 1px solid ;
    border-color: var(--text-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.blogpics{
    border-radius: 10px;
}
.boxtext{
    font-size: larger;
    color: var(--subHeading-colors);
}
#bloglink{
    text-decoration-line: none;
    
    
}

#Blogsdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

#Blogtext{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dropdown:hover .Projects_dropdown {
    display: block;
}

.Projects_dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    right:-10vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.Projects_dropdown li {
    list-style: none;
    padding: 10px;
}

.Projects_dropdown li a {
    text-decoration: none;
    color: #333; 
    display: block;
}

/* .Projects_dropdown li:hover {
    background-color: #f9f9f9;
} */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40vh;
    border-radius: 5px;
    
}
.mainsocials{
    margin-top: 4%;
    position: relative;
    
}
.highlight{
    background-color:purple;
    font-weight: bold;
    padding: 0 2px;
}
#resumeDiv{
    height: 90vh;
    width: 80vw;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#resumeimage{
    width:80%;
    
}







/* Media for medium  Devices */
@media   (max-width:769px), (min-width:481){

    body{
        height: 100%;
        width: 100%;
        background-color: var(--body-color);
        transition: var(--tran-05);
    }
    
    ::selection{
        background-color: var(--primary-color);
        color: #fff;
    }
    
   

    body.dark{
        /* --body-color: #18191a;
        --sidebar-color: #242526;
        --primary-color: #3a3b3c;
        --primary-color-light: #3a3b3c;
        --toggle-color: #fff;
        --text-color: #ccc;
        --subHeading-colors: #ccc; */
    
        /*test*/
    
        --body-color: #E4E9F7;
        --sidebar-color: #FFF;
        /* --primary-color: #695CFE; */
        --primary-color-light: #F6F5FF;
        --toggle-color: #DDD;
        --text-color: #707070;
        --primary-color:#c93ac9;
        --subHeading-colors:#c93ac9;
        --footertext-color:black;
    }
    
    /* ===== Sidebar ===== */
     .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 150px;
        padding: 10px 14px;
        background: var(--sidebar-color);
        transition: var(--tran-05);
        z-index: 100;  
    }
     .sidebar.close{
        width: 88px;
    } 
    
    /* ===== Reusable code - Here ===== */
    .sidebar li{
        height: 50px;
        list-style: none;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    
    .sidebar header .image,
    .sidebar .icon{
        min-width: 60px;
        border-radius: 6px;
    }
    
    .sidebar .icon{
        min-width: 60px;
        border-radius: 6px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    
    .sidebar .text,
    .sidebar .icon{
        color: var(--text-color);
        transition: var(--tran-03);
    }
    
    .sidebar .text{
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
        opacity: 1;
    }
    .sidebar.close .text{
        opacity: 0;
    }
    /* =========================== */
    
    .sidebar header{
        position: relative;
    }
    
    .sidebar header .image-text{
        display: flex;
        align-items:center;
        
    }
    .sidebar header .logo-text{
        display: flex;
        flex-direction: column;
    }
    header .image-text .name {
        margin-top: 2px;
        margin-left: 0px;
        font-size: 16px;
        font-weight: 600;
    }
    
    header .image-text .profession{
        font-size: 14px;
        margin-top: -2px;
        display: block;
    }
    
    .sidebar header .image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sidebar header .image img{
        width: 40px;
        border-radius: 6px;
    }
    
    .sidebar header .toggle{
        position: absolute;
        top: 50%;
        right: -25px;
        transform: translateY(-50%) rotate(180deg);
        height: 25px;
        width: 25px;
        background-color: var(--primary-color);
        color: var(--sidebar-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        cursor: pointer;
        transition: var(--tran-05);
    }
    
    body.dark .sidebar header .toggle{
        color: var(--text-color);
    }
    
    .sidebar.close .toggle{
        transform: translateY(-50%) rotate(0deg);
    }
    
    .sidebar .menu{
        margin-top: 40px;
    }
    
    .sidebar li.search-box{
        border-radius: 6px;
        background-color: var(--primary-color-light);
        cursor: pointer;
        transition: var(--tran-05);
    }
    
    .sidebar li.search-box input{
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        background-color: var(--primary-color-light);
        color: var(--text-color);
        border-radius: 6px;
        font-size: 17px;
        font-weight: 500;
        transition: var(--tran-05);
    }
    .sidebar li a{
        list-style: none;
        height: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 6px;
        text-decoration: none;
        transition: var(--tran-03);
    }
    
    .sidebar li a:hover{
        background-color: var(--primary-color);
    }
    .sidebar li a:hover .icon,
    .sidebar li a:hover .text{
        color: var(--sidebar-color);
    }
    body.dark .sidebar li a:hover .icon,
    body.dark .sidebar li a:hover .text{
        color: var(--text-color);
    }
    
    .sidebar .menu-bar{
        height: calc(100% - 55px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: scroll;
    }
    .menu-bar::-webkit-scrollbar{
        display: none;
    }
    .sidebar .menu-bar .mode{
        border-radius: 6px;
        background-color: var(--primary-color-light);
        position: relative;
        transition: var(--tran-05);
        cursor: pointer;
    }
    
    .menu-bar .mode .sun-moon{
        height: 50px;
        width: 60px;
    }
    
    .mode .sun-moon i{
        position: absolute;
    }
    .mode .sun-moon i.sun{
        opacity: 0;
    }
    body.dark .mode .sun-moon i.sun{
        opacity: 1;
    }
    body.dark .mode .sun-moon i.moon{
        opacity: 0;
    }
    
    .menu-bar .bottom-content .toggle-switch{
        position: absolute;
        right: 0;
        height: 100%;
        min-width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;

        cursor: pointer;
    }
    .toggle-switch .switch{
        position: relative;
        height: 22px;
        width: 40px;
        border-radius: 25px;
        background-color: var(--toggle-color);
        transition: var(--tran-05);
    }
    
    .switch::before{
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        background-color: var(--sidebar-color);
        transition: var(--tran-04);
    }
    
    body.dark .switch::before{
        left: 20px;
    }
    
    .home{
        position: absolute;
        top: 0;
        top: 0;
        left: 250px;
        height: 100vh;
        width: calc(100% - 250px);
        background-color: var(--body-color);
        transition: var(--tran-05);
    }
    .home .text{
        font-size: 25px;
        font-weight: 500;
        color: var(--text-color);
        /* padding: 12px 60px; */
       
    }
    
    .sidebar.close ~ .home{
        left: 88px;
        height: 100vh;
        width: calc(100% - 88px);
    }
    body.dark .home .text{
        color: var(--text-color);
    }
    
    #Homediv{
        margin-left: 0;
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        
     
    }
    #myimage{
        border-radius: 50%;
        width: 150px;
    
    }
    .Imgdiv{
        position:sticky;
        display: flex;
        flex-direction: column;
        margin-right: 6rem;
        margin-left: 0rem;
        align-items: center;
        width: 3vw;
        margin-top: rem; 

        
    }
    
    #Bodytext{
        font-size:16px ;
        max-width: 60vw;
        height: 40vh;
        margin-left: 3vw;
        
    }
    
    
    .animebox div {
        position: absolute;
        width: 2rem;
        height: 2rem;
        border: 6px solid #c93ac9;
        background-color: transparent;
    }
    
    .animebox div:nth-child(1) {
        top:12%;
        left: 42%;
        animation: animate 10s linear infinite;
    
    }
    
    .animebox div:nth-child(2) {
        top:70%;
        left: 50%;
        animation: animate 7s linear infinite;
    
    }
    .animebox div:nth-child(3) {
        top:17%;
        left: 6%;
        animation: animate 9s linear infinite;
    
    }
    
    .animebox div:nth-child(4) {
        top:20%;
        left: 60%;
        animation: animate 10s linear infinite;
    
    }
    
    .animebox div:nth-child(5) {
        top:67%;
        left: 10%;
        animation: animate 10s linear infinite;
    
    }
    
    .animebox div:nth-child(6) {
        top:80%;
        left: 70%;
        animation: animate 12s linear infinite;
    
    }
    
    .animebox div:nth-child(7) {
        top:60%;
        left: 80%;
        animation: animate 15s linear infinite;
    
    }
    .animebox div:nth-child(8) {
        top:32%;
        left: 25%;
        animation: animate 16s linear infinite;
    
    }
    
    .animebox div:nth-child(9) {
        top:90%;
        left: 25%;
        animation: animate 9s linear infinite;
    
    }
    
    .animebox div:nth-child(10) {
        top:80%;
        left: 70%;
        animation: animate 12s linear infinite;
    
    }
    
    .animebox div:nth-child(11) {
        top:90%;
        left: 80%;
        animation: animate 7s linear infinite;
    
    }
    
    .animebox div:nth-child(12) {
        top:80%;
        left: 85%;
        animation: animate 9s linear infinite;
    
    }
    
    .animebox div:nth-child(13) {
        top:90%;
        left: 80%;
        animation: animate 12s linear infinite;
    
    }
    
    .animebox div:nth-child(14) {
        top:20%;
        left: 80%;
        animation: animate 8s linear infinite;
    
    }
    
    .animebox div:nth-child(15) {
        top:10%;
        left: 85%;
        animation: animate 12s linear infinite;
    
    }
    
    @keyframes animate {
        0%{
            transform:scale(0) translateY(0) rotate(0) ;
            opacity: 1;
        }
        100%{
            transform: scale(1.3) translate(-90px) rotate(360deg);
            opacity: 0;
    
        }
    }
    
    
    
    #About{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 8rem;
        height: 100vh;
        
    }
    #textdiv{

    color: var(--text-color);
    position: relative;
    font-size: 17px;
    
    
    }
    
    #Projectsdiv{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 7rem;
        flex-direction: column; 
        margin-right: 5vw;
        
    }
    
    /* .Elementary_p:hover{
        background-color: var(--primary-color);
    } */
    
    
    

.Elementary_p, .Intermediate_p{
    width: 60vw;
    position: relative;
    height: 400px;
    border: 1px solid ;
    border-color: var(--text-color);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-radius: 5px;
    transition: var(--primary-color) 0.9s ease;
    cursor: pointer;
    align-items: center;
    
}
#Elementary, #Intermediate{
    display: flex;
    flex-direction: column;
    max-width: 70vw;


}
    
    
    h3{
        color: var(--subHeading-colors);
    }
    
    .Blog_bix{
        width: 70vw;
        height: 10vh;
        margin: 1rem;
        border: 1px solid ;
        border-color: var(--text-color);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .blogpics{
        border-radius: 10px;
    }
    .boxtext{
        font-size: 15px;
        font-weight: 500;
        color: var(--subHeading-colors);
        
    }
    #bloglink{
        text-decoration-line: none;
        
        
    }
    
    #Blogsdiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        
    }
    
    #Blogtext{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .dropdown:hover .Projects_dropdown {
        display: block;
    }
    
    .Projects_dropdown {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 120px;
        right:-10vw;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        
    }
    
    .Projects_dropdown li {
        list-style: none;
        padding: 10px;
    }
    
    .Projects_dropdown li a {
        text-decoration: none;
        color: #333; 
        display: block;
    }

    #resumeDiv{
        height: 90vh;
        width: 80vw;
        margin: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #resumeimage{
        width:476px;
        
    }
    
    
}


















/* Media Queries for Small and Medium Screens */
@media screen and (max-width: 480px){
    body{
        height: 100%;
        width: 100%;
        background-color: var(--body-color);
        transition: var(--tran-05);
    }
    
    ::selection{
        background-color: var(--primary-color);
        color: #fff;
    }
    
   

    body.dark{
        /* --body-color: #18191a;
        --sidebar-color: #242526;
        --primary-color: #3a3b3c;
        --primary-color-light: #3a3b3c;
        --toggle-color: #fff;
        --text-color: #ccc;
        --subHeading-colors: #ccc; */
    
        /*test*/
    
        --body-color: #E4E9F7;
        --sidebar-color: #FFF;
        /* --primary-color: #695CFE; */
        --primary-color-light: #F6F5FF;
        --toggle-color: #DDD;
        --text-color: #707070;
        --primary-color:#c93ac9;
        --subHeading-colors:#c93ac9;
        --footertext-color:black;
    }
    
    /* ===== Sidebar ===== */
     .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 150px;
        padding: 10px 14px;
        background: var(--sidebar-color);
        transition: var(--tran-05);
        z-index: 100;  
    }
     .sidebar.close{
        width: 88px;
    } 
    
    /* ===== Reusable code - Here ===== */
    .sidebar li{
        height: 50px;
        list-style: none;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    
    .sidebar header .image,
    .sidebar .icon{
        min-width: 60px;
        border-radius: 6px;
    }
    
    .sidebar .icon{
        min-width: 60px;
        border-radius: 6px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    
    .sidebar .text,
    .sidebar .icon{
        color: var(--text-color);
        transition: var(--tran-03);
    }
    
    .sidebar .text{
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
        opacity: 1;
    }
    .sidebar.close .text{
        opacity: 0;
    }
    /* =========================== */
    
    .sidebar header{
        position: relative;
    }
    
    .sidebar header .image-text{
        display: flex;
        align-items:center;
        
    }
    .sidebar header .logo-text{
        display: flex;
        flex-direction: column;
    }
    header .image-text .name {
        margin-top: 2px;
        margin-left: 0px;
        font-size: 16px;
        font-weight: 600;
    }
    
    header .image-text .profession{
        font-size: 14px;
        margin-top: -2px;
        display: block;
    }
    
    .sidebar header .image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sidebar header .image img{
        width: 40px;
        border-radius: 6px;
    }
    
    .sidebar header .toggle{
        position: absolute;
        top: 50%;
        right: -25px;
        transform: translateY(-50%) rotate(180deg);
        height: 25px;
        width: 25px;
        background-color: var(--primary-color);
        color: var(--sidebar-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        cursor: pointer;
        transition: var(--tran-05);
    }
    
    body.dark .sidebar header .toggle{
        color: var(--text-color);
    }
    
    .sidebar.close .toggle{
        transform: translateY(-50%) rotate(0deg);
    }
    
    .sidebar .menu{
        margin-top: 40px;
    }
    
    .sidebar li.search-box{
        border-radius: 6px;
        background-color: var(--primary-color-light);
        cursor: pointer;
        transition: var(--tran-05);
    }
    
    .sidebar li.search-box input{
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        background-color: var(--primary-color-light);
        color: var(--text-color);
        border-radius: 6px;
        font-size: 17px;
        font-weight: 500;
        transition: var(--tran-05);
    }
    .sidebar li a{
        list-style: none;
        height: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 6px;
        text-decoration: none;
        transition: var(--tran-03);
    }
    
    .sidebar li a:hover{
        background-color: var(--primary-color);
    }
    .sidebar li a:hover .icon,
    .sidebar li a:hover .text{
        color: var(--sidebar-color);
    }
    body.dark .sidebar li a:hover .icon,
    body.dark .sidebar li a:hover .text{
        color: var(--text-color);
    }
    
    .sidebar .menu-bar{
        height: calc(100% - 55px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: scroll;
    }
    .menu-bar::-webkit-scrollbar{
        display: none;
    }
    .sidebar .menu-bar .mode{
        border-radius: 6px;
        background-color: var(--primary-color-light);
        position: relative;
        transition: var(--tran-05);
        cursor: pointer;
    }
    
    .menu-bar .mode .sun-moon{
        height: 50px;
        width: 60px;
    }
    
    .mode .sun-moon i{
        position: absolute;
    }
    .mode .sun-moon i.sun{
        opacity: 0;
    }
    body.dark .mode .sun-moon i.sun{
        opacity: 1;
    }
    body.dark .mode .sun-moon i.moon{
        opacity: 0;
    }
    
    .menu-bar .bottom-content .toggle-switch{
        position: absolute;
        right: 0;
        height: 100%;
        min-width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;

        cursor: pointer;
    }
    .toggle-switch .switch{
        position: relative;
        height: 22px;
        width: 40px;
        border-radius: 25px;
        background-color: var(--toggle-color);
        transition: var(--tran-05);
    }
    
    .switch::before{
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        background-color: var(--sidebar-color);
        transition: var(--tran-04);
    }
    
    body.dark .switch::before{
        left: 20px;
    }
    
    .home{
        position: absolute;
        top: 0;
        top: 0;
        left: 250px;
        height: 100vh;
        width: calc(100% - 250px);
        background-color: var(--body-color);
        transition: var(--tran-05);
    }
    .home .text{
        font-size: 25px;
        font-weight: 500;
        color: var(--text-color);
        /* padding: 12px 60px; */
       
    }
    
    .sidebar.close ~ .home{
        left: 88px;
        height: 100vh;
        width: calc(100% - 88px);
    }
    body.dark .home .text{
        color: var(--text-color);
    }
    
    #Homediv{
        margin-left: 0;
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        
     
    }
    #myimage{
        border-radius: 50%;
        width: 150px;
    
    }
    .Imgdiv{
        position:sticky;
        display: flex;
        flex-direction: column;
        margin-right: 6rem;
        margin-left: 0rem;
        align-items: center;
        width: 3vw;
        margin-top: rem; 

        
    }
    
    #Bodytext{
        font-size:3vw ;
        max-width: 60vw;
        height: 40vh;
        margin-left: 3vw;
        
    }
    
    
    .animebox div {
        position: absolute;
        width: 2rem;
        height: 2rem;
        border: 6px solid #c93ac9;
        background-color: transparent;
    }
    
    .animebox div:nth-child(1) {
        top:12%;
        left: 42%;
        animation: animate 10s linear infinite;
    
    }
    
    .animebox div:nth-child(2) {
        top:70%;
        left: 50%;
        animation: animate 7s linear infinite;
    
    }
    .animebox div:nth-child(3) {
        top:17%;
        left: 6%;
        animation: animate 9s linear infinite;
    
    }
    
    .animebox div:nth-child(4) {
        top:20%;
        left: 60%;
        animation: animate 10s linear infinite;
    
    }
    
    .animebox div:nth-child(5) {
        top:67%;
        left: 10%;
        animation: animate 10s linear infinite;
    
    }
    
    .animebox div:nth-child(6) {
        top:80%;
        left: 70%;
        animation: animate 12s linear infinite;
    
    }
    
    .animebox div:nth-child(7) {
        top:60%;
        left: 80%;
        animation: animate 15s linear infinite;
    
    }
    .animebox div:nth-child(8) {
        top:32%;
        left: 25%;
        animation: animate 16s linear infinite;
    
    }
    
    .animebox div:nth-child(9) {
        top:90%;
        left: 25%;
        animation: animate 9s linear infinite;
    
    }
    
    .animebox div:nth-child(10) {
        top:80%;
        left: 70%;
        animation: animate 12s linear infinite;
    
    }
    
    .animebox div:nth-child(11) {
        top:90%;
        left: 80%;
        animation: animate 7s linear infinite;
    
    }
    
    .animebox div:nth-child(12) {
        top:80%;
        left: 85%;
        animation: animate 9s linear infinite;
    
    }
    
    .animebox div:nth-child(13) {
        top:90%;
        left: 80%;
        animation: animate 12s linear infinite;
    
    }
    
    .animebox div:nth-child(14) {
        top:20%;
        left: 80%;
        animation: animate 8s linear infinite;
    
    }
    
    .animebox div:nth-child(15) {
        top:10%;
        left: 85%;
        animation: animate 12s linear infinite;
    
    }
    
    @keyframes animate {
        0%{
            transform:scale(0) translateY(0) rotate(0) ;
            opacity: 1;
        }
        100%{
            transform: scale(1.3) translate(-90px) rotate(360deg);
            opacity: 0;
    
        }
    }
    
    
    
    #About{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 7rem;
        height: 260vh;
        
    }
    #textdiv{

    color: var(--text-color);
    position: relative;
    font-size: 17px;
    
    
    }
    
    #Projectsdiv{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 7rem;
        flex-direction: column; 
        margin-right: 5vw;
        
    }
    
    /* .Elementary_p:hover{
        background-color: var(--primary-color);
    } */
    
    
    

.Elementary_p, .Intermediate_p{
    width: 60vw;
    position: relative;
    height: 400px;
    border: 1px solid ;
    border-color: var(--text-color);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-radius: 5px;
    transition: var(--primary-color) 0.9s ease;
    cursor: pointer;
    align-items: center;
    
}
#Elementary, #Intermediate{
    display: flex;
    flex-direction: column;
    max-width: 70vw;


}
    
    
    h3{
        color: var(--subHeading-colors);
    }
    
    .Blog_bix{
        width: fit-content;
        height: fit-content;
        margin: 1rem;
        border: 1px solid ;
        border-color: var(--text-color);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .blogpics{
        border-radius: 10px;
    }
    .boxtext{
        font-size: 12px;
        font-weight: 500;
        color: var(--subHeading-colors);
        
    }
    #bloglink{
        text-decoration-line: none;
        
        
    }
    
    #Blogsdiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        
    }
    
    #Blogtext{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .dropdown:hover .Projects_dropdown {
        display: block;
    }
    
    .Projects_dropdown {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 120px;
        right:-10vw;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        
    }
    
    .Projects_dropdown li {
        list-style: none;
        padding: 10px;
    }
    
    .Projects_dropdown li a {
        text-decoration: none;
        color: #333; 
        display: block;
    }

    #resumeDiv{
        height: 90vh;
        width: 80vw;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #resumeimage{
        width:60vw;
        
    }
    
    /* .Projects_dropdown li:hover {
        background-color: #f9f9f9;
    } */

   
    
    
    

} 
